@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --cor-01: #AF3567;
    --cor-02: #EDBFBF;
}

body {
    background-color: var(--cor-02);
}